<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Shuttle-UM Subleave</title>
</head>

<body>
	<h1>Shuttle-UM Subleave</h1>

	<h2>Driver</h2>
	<ul>
		<li>To view available shifts, select <a href="/subsheetShifts">View Available Shifts</a></li>
		<li>To sign up for shifts, select <a href="/subsheetForm">Subsheet Holes Pickup</a></li>
	</ul>
	<hr>

	<h2>Admin</h2>
	<ul>
		<li>To add a driver, select  <a href="/addDriver">Add Driver</a></li>
		<li>To a add shift to the schedule, select <a href="/addShift">Add Shift</a></li>
		<!-- <li>To remove a driver, select  <a href="/removeDriver">Remove Driver</a></li> -->
		<!-- <li>To remove a shift from the schedule, select <a href="/removeShift">Remove Shift</a></li> -->
		<!-- <li>To add shifts to the schedule with a csv file, select <a href="/addShiftscsv">Bulk Add Shifts</a></li> -->
	</ul>
	<hr>
	
</body>

</html>
