<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Request Submission</title>
</head>

<body>
	<h1><a class="homeLink"><img src="/UMDGlobe.gif" type="image/png"></a>Request Submitted</h1>
	<div>
		
		You will receive an email confirmation soon. Please let your manager know if you have any questions.
		You may close out this page or <a class="homeLink">return to the home page. </a>
		
	</div>
	<hr>
	<strong>Task completed on <span id="dateTime"></span></strong>
	<hr>
</body>
Click on the UMD globe to go home.

</html>

<script>
	const baseURL = window.location.origin;
	document.querySelector(".homeLink").href = baseURL + "/";
	document.querySelector("#dateTime").innerHTML = (new Date()).toLocaleString('en-US',{timeZone: 'America/New_York'});
</script>


<style>
	body {
		background-color: whitesmoke;
		color: rgb(88, 88, 88);
		text-align: center;
	}
	h1   {
		color: rgb(255, 0, 0);
	}
	img {
		width: 100px;
    	vertical-align: middle;
	}
</style>