<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Available Subsheet Shifts</title>
</head>

<body>
	<h1><a id="homeLink"><img src="/UMDGlobe.gif" type="image/png"></a>Shifts Available to be Picked Up</h1>
	<div><%- myTable %></div>
<hr>
</body>
Click on the UMD globe to go home. <br>
Click <a id="signupLink">here to sign up for a shift</a>.


<hr>


</html>

<script>
	const baseURL = window.location.origin;
	document.querySelector("#homeLink").href = baseURL + "/";
	document.querySelector("#signupLink").href = baseURL + "/subsheetForm";
</script>

<style>
	body {
		background-color: whitesmoke;
		color: rgb(88, 88, 88);
		text-align: center;
	}
	h1   {
		color: rgb(255, 0, 0);
	}
	img {
		width: 100px;
    	vertical-align: middle;
	}
</style>