<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add <%- item %> Request Result</title>
</head>

<body>
	<h1><a id="homeLink"><img src="/UMDGlobe.gif" type="image/png"></a>Add <%- item %> Request Result:</h1>
	<div>
	<p> <%- result %> </p>
		
	</div>
</body>
<br>

</html>

<script>
	const baseURL = window.location.origin;
	document.querySelector("#homeLink").href = baseURL + "/";
</script>
<style>
	body {
		background-color: whitesmoke;
		color: rgb(88, 88, 88);
		text-align: center;
	}
	h1   {
		color: rgb(255, 0, 0);
	}
	img {
		width: 100px;
    	vertical-align: middle;
	}
</style>