<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Subsheets Sign-Up Form</title>
</head>

<body>
	<h1><a id="homeLink"><img src="/UMDGlobe.gif" type="image/png"></a>Subsheets Sign-Ups</h1>
	<form id="appForm" method="post">
		<fieldset>
			<label for="driverSelect"><strong>Name / Driver Number:</strong></label>
			<select name="driverSelected" id="driverSelect" required>
			  <!-- <option value="apple">Apple</option> -->
			  <%- driverSelection %>
			</select><br><br>
			<strong>Select any Subsheet Holes that you would like to sign up for:</strong><br>
			<!-- <input type="checkbox" id="option1" name="holesSelected" value="option1"> -->
			<%- checkboxFields %>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit Application"/>
	</form>
</body>


<hr>
</html>

<script>
	const baseURL = window.location.origin;
	document.querySelector("#appForm").action = baseURL + "/processSubsheetForm";
	document.querySelector("#homeLink").href = baseURL + "/";
	window.onsubmit = () => confirm(`Are you sure you want to submit your request?

You will not be able to change your information once submitted.`);
</script>


<style>
	body {
		background-color: whitesmoke;
		color: rgb(88, 88, 88);
		text-align: center;
	}
	h1   {
		color: rgb(255, 0, 0);
	}
	img {
		width: 100px;
    	vertical-align: middle;
	}
</style>